
{% extends "base.html" %}

{% block content %}

<script>
    logic =(e)=> {
        let username = document.getElementById('username').value;
        let ticker = document.getElementById('ticker').value;
        let url = '/get/' + username + "/" + ticker;
        window.location.replace(url);
    }
</script>
<h3> Asset Search</h3>
<input type="text" placeholder="username" id="username">
<input type="text" placeholder="ticker" id="ticker">
<button onclick="logic();">Search</button>

{% endblock %}
