<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<script>
//			/create-val/<name>/<password>/<pk>
//			function val () {
//				var u = document.getElementsByName("username").value;
//				var pk = document.getElementsByName("pk").value;
//				var pass = document.getElementsByName("password").value;
//				var url = '/create-val/'+ u +'/'+pass +'/'+pk;
//				alert("Success");
//			}
		</script>
		<form method="POST">
			<input type="text" name="username" placeholder="username">
			<input type="password" name="password" placeholder="password">
			<input type="email" name="email" placeholder="email@email.com">
			<input type="submit">
<!--		<button onclick="val();">Submit</button>-->
		</form>
	</body>
</html>